* {
    box-sizing: border-box;
}
body {
    background-color: #000000;
    font-family: 'Inter', sans-serif;
}
li {
    list-style: none;
}



h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.en {
    color: burlywood;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__menu-list {
    display: flex;
    flex-direction: row;
}

.nav__menu-link {
    color: #ffffff;
}

.nav__menu-item {
    margin-right: 30px;
}


.header__container {
    height: 910px;
    background: no-repeat center  url('./assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: contain;
  }

.header__nav {
      margin-bottom: 160px;
  }

.header__hero {
    margin-left: 60px;
}
  
.logo_img {
    width: 50px;
    height: auto;
}

.nav__menu {
    margin-left: auto;
}

.hero {
    width: 500px;
}

.hero__content {
    margin-right: 30px;
}

.hero__title {
    font-family: 'Merriweather', serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 120px;
    color: #ffffff;
    margin-bottom: 10px;
}

.hero__text {
    font-size: 20px;
    font-weight: normal;
    line-height: 40px;
    color: #ffffff;
    margin-bottom: 25px;
}

.button {
    width: 220px;
    font-size: 20px;
    line-height: 40px;
    padding: 5px 0;
    background-color: transparent;
    border: solid 2px #BDAE82;
    color: #BDAE82;
}

.button--color {
    background: #BDAE82;
    color: #000000;
}

.title {
    padding: 100px 0px 60px 0px;
    text-align: center;
}

.title__header {
    font-family: 'Merriweather', serif;
    color: #BDAE82;
    font-size: 40px;
    line-height: 80px;
    margin: 0;   
}

.skills__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skills__item {
    width: 320px;
    padding: 0 20px 8px 20px;
    margin-right: 40px;
    text-align: center;
}

.skills__item:last-child {
    margin-right: 0px;
}

.skills__item-img {
    margin-bottom: 50px;
}

.skills__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    color: #ffffff;
    margin-bottom: 20px;
}

.skills__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    color: #ffffff;
}

.portfolio__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 60px;  
}

.portfolio__button {
    margin-right: 5px;
}

.portfolio__button:last-child {
    margin-right: 0;
}

.portfolio__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
}

.portfolio__row:last-child {
    margin-bottom: 0;
}

.portfolio__img {
    display: flex;
    width: 450px;
    margin-right: 25px;
}

.portfolio__img:last-child {
    margin-right: 0px;
}

.video__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 705px;
    background: no-repeat center  url('./assets/img/video-player.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: contain;
}

.video__button {
    background-color: transparent;
    border: none;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.price__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price__item {
    width: 450px;
    border: solid 3px #BDAE82;
    text-align: center;
    padding: 40px 0;
}

.price__title {
    font-family: 'Merriweather', serif;
    font-size: 28px;
    line-height: 56px;
    color: #ffffff;
    margin-bottom: 20px;
}

.price__price {
    font-family: 'Merriweather', serif;
    font-size: 24px;
    line-height: 48px;
    color: #BDAE82;
    margin-bottom: 20px;
    
}

.price__text {
    font-size: 18px;
    line-height: 36px;
    color: #ffffff;
    margin-bottom: 40px;
}



